KERNEL=="hidraw?", ATTRS{busnum}=="1", ATTRS{idVendor}=="044f", ATTRS{idProduct}=="0404", MODE="0666", SYMLINK+="input/hidrawthrot", RUN+="/usr/local/etc/joystick/throtLEDoff.sh"

